<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>DJ</title>
  <meta name="description" content="Welcome to Daily Journal - Your place to share thoughts!">
  <meta name="keywords" content="journal, blog, daily posts">
  <meta name="author" content="Daily Journal">

  <!-- Open Graph for better social media previews -->
  <meta property="og:title" content="Daily Journal">
  <meta property="og:description" content="Explore insightful posts on Daily Journal.">
  <meta property="og:type" content="article">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>


  <body>
    <div class="container">
