<% posts.forEach(function(post){ %>
    <h2><%= post.title %></h2>
    <p><%= post.detail %></p>
    <% if(post.image) { %>
        <img src="<%= post.image %>" alt="Blog Image" width="300">
    <% } %>
    <a href="/posts/<%= post.title %>">Read More</a>
    <hr>
<% }); %>
